@mixin flex($direction: row, $justify: space-between, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  @content;
}
@mixin auth {
  display: inline-block;
  text-decoration: none;
  font: {
    size: 15px;
  }
  @content;
}
@mixin button {
  padding: 13px 32px;
  border: none;
  border-radius: 50px;
  background: $background-color;
  color: $secondary-color4;
  cursor: pointer;

  &:hover {
    color: $secondary-color4;
    opacity: 0.6;
  }
  &:active {
    background-color: $secondary-color1;
  }
}
@mixin desktop-small {
  @media (max-width: $desktop-small) {
    @content;
  }
}
@mixin desktop-large {
  @media (min-width: $desktop-large) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}
