@use "../css" as *;
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font : {
    family: $font-family;
    size: $font-size;
    weight: $font-weight2;
  }
}
header {
  & .navbar {
    @include flex;
    padding: 18px 140px;
    @include desktop-small {
      padding: 18px 100px;
    }
    @include tablet {
      padding: 18px 64px;
    }
    @include mobile {
      padding: 18px 24px;
    }
  }
  ul {
    @include flex;
    gap: 18px;

    font: {
      size: 15px;
    }
    @include tablet {
      display: none;
    }
    @include mobile {
      display: none;
    }
    li {
      list-style: none;

      & a {
        text-decoration: none;
        color: $secondary-color1;
        position: relative;
        &::after {
          content: "";
          height: 2px;
          width: 100%;
          background: $background-color;
          display: block;
          position: absolute;
          left: 0;
          bottom: -8px;
          opacity: 0;
        }
        &:hover::after,
        &:active::after {
          opacity: 1;
          transition: all 0.2s;
          pointer-events: none;
        }
        &:visited {
          color: $secondary-color1;
        }
        &:hover,
        &:active {
          color: black;
        }
      }
    }
  }

  .auth {
    display: inline-block;
    text-decoration: none;
    font: {
      size: 15px;
    }
    @include tablet {
      display: none;
    }
    @include mobile {
      display: none;
    }
    button {
      padding: 13px 32px;
      border: none;
      border-radius: 50px;
      background: $background-color;
      color: $secondary-color4;
      cursor: pointer;

      //   &:visited {
      //     color: $secondary-color4;
      //   }
      &:hover {
        color: $secondary-color4;
        opacity: 0.6;
      }
      &:active {
        background-color: $secondary-color1;
      }
    }
  }
}
.hamburger {
  display: none;
  @include tablet {
    display: block;
  }
  @include mobile {
    display: block;
  }
}
.hero-section {
  display: flex;
  justify-content: space-between;
  gap: 64px;
  background-color: $secondary-color3;
  @include tablet {
    flex-direction: column;
  }
  @include mobile {
    flex-direction: column;
  }
  .hero-section-one {
    padding-top: 130px;
    padding-left: 140px;
    @include desktop-small{
      padding-top: 110px;
      padding-left: 100px;
    }
    @include tablet {
      order: 2;
      padding-top: 30px ;
      padding-left: 0;
    }
    @include mobile {
      order: 2;
      padding-top: 20px;
      padding-left: 0;
    }
    @include desktop-large{
      padding-top: 160px;
    }
    
    h1 {
      font: {
        size: 45px;
        weight: $font-weight1;
      }
      width: 80%;
      @include desktop-small{
        width: 450px;
      }
      @include tablet {
        text-align: center;
        width: 100%;
        text-wrap: nowrap;
      }
      @include mobile {
        text-align: center;
        text-wrap: wrap;
        // width: 0%;
      }
      @include desktop-large{
      width: 550px;
      font: {
        weight: $font-weight1;
        size: 60px;
      }
      }
    }
    p {
      padding-top: 20px;
      color: $secondary-color1;
      font: {
        size: 15px;
      }
      line-height: 22px;
      width: 78%;
      @include mobile {
        width: 90%;
        font: {
          size: 14px;
        }
        text-align: center;
        margin: 0 auto;
        padding-bottom: 20px;
      }
      @include tablet {
        width: 90%;
        font: {
          size: 14px;
        }
        text-align: center;
        margin: 0 auto;
        padding-bottom: 20px;
      }
      @include desktop-large{
        width: 450px;
        font: {
          size: 18px;
        }
        }
    }
    .auth {
      padding-top: 32px;
      @include tablet{
        display: block;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        button {
          padding: 13px 48px;
        }
      }
      @include mobile{
        display: block;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
      }
    }
  }
  img {
    width: 550px;
    @include desktop-small{
      width: 450px;
    }
    @include tablet {
      display: none;
    }
    @include mobile {
      display: none;
    }
    @include desktop-large{
      width: 700px;
    }
  }
  .mobile-image {
    display: none;
    @include tablet {
      display: block;
      width: 100%;
      order: 1;
    }
    @include mobile {
      display: block;
      width: 100%;
      order: 1;
    }
  }
  
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 32px 125px 40px;
  background-color: $primary-color1;
  @include desktop-small {
    padding: 18px 86px;
  }
  @include tablet {
    flex-direction: column;
    text-align: center;
    padding: 40px 0;
  }
  @include mobile {
    flex-direction: column;
    text-align: center;
    padding: 40px 0;
  }
  // .logo{
  //   background-color: $secondary-color4;
  // }
  .footer-div {
    padding-top: 10px;
    @include mobile {
      margin: 0 auto;
      // display: flex;
      // justify-content: center;
      // align-items: center;
      // text-align: center;
    }
  }
  .socials {
    display: flex;
    gap: 12px;
    width: 50px;
    height: auto;
    padding-top: 58px;
    // background-color: $secondary-color2;
    @include tablet {
      padding-top: 24px;
      position: relative;
      left: 40%;
      transform: translate(-40%, 0);
    }
    @include mobile {
      padding-top: 24px;

      display: flex;
      justify-content: space-between;
      padding-right: 140px;
      // position: relative;
      //   right: 10%;
      //   transform: translate(40%, 0);
    }
    .facebook {
      .icon {
        width: 24px;
        height: 24px;
        // fill: #3b5998;
        transition: fill 0.3s ease;
      }
      &:hover .icon {
        fill: hsl(136, 65%, 51%);
      }
    }
    .youtube {
      .icon {
        width: 24px;
        height: 24px;
        // fill: #3b5998;
        transition: fill 0.3s ease;
      }
      &:hover .icon {
        fill: hsl(136, 65%, 51%);
      }
    }
    .twitter {
      .icon {
        width: 24px;
        height: 24px;
        // fill: #3b5998;
        transition: fill 0.3s ease;
      }
      &:hover .icon {
        fill: hsl(136, 65%, 51%);
      }
    }
    .pinterest {
      .icon {
        width: 24px;
        height: 24px;
        // fill: #3b5998;
        transition: fill 0.3s ease;
      }
      &:hover .icon {
        fill: hsl(136, 65%, 51%);
      }
    }
    .instagram {
      .icon {
        width: 24px;
        height: 24px;
        // fill: #3b5998;
        transition: fill 0.3s ease;
      }
      &:hover .icon {
        fill: hsl(136, 65%, 51%);
      }
    }
  }
  // // ul {
  // //   justify-content: center;
  // //   align-items: center;
  // //   display: flex;
  // // }
  // li {
  //   margin-right: 13px;
  // }
  // i {
  //   font-size: 26px;
  //   color: white;
  // }
  // &:hover {
  //   color: $LimeG;
  // }

  .footer-ul-one {
    padding-right: 20px;
    line-height: 40px;
    font: {
      size: 15px;
    }
    @include tablet {
      padding-right: 0px;
      padding-top: 22px;
    }
    @include mobile {
      padding-right: 0px;
      padding-top: 22px;
    }
    @include desktop-large {
      position: relative;
      right: 30px;
    }
    li {
      list-style: none;
      a {
        text-decoration: none;
        color: $secondary-color4;
        &:visited {
          color: $secondary-color4;
        }
        &:hover {
          color: $primary-color2;
        }
      }
    }
  }
}
.footer-ul-two {
  padding-right: 40px;
  line-height: 40px;
  margin-right: 50px;
  font: {
    size: 15px;
  }
  @include desktop-small {
    left: 8px;
  }
  @include tablet {
    padding-right: 0px;
    margin-right: 10px;
  }
  @include mobile {
    padding-right: 0px;
    margin-right: 10px;
    right: 0;
  }
  @include desktop-large {
    position: relative;
    right: 70px;
  }
  position: relative;
  right: 50px;
  li {
    list-style: none;
    a {
      text-decoration: none;
      color: $secondary-color4;
      &:visited {
        color: $secondary-color4;
      }
      &:hover {
        color: $primary-color2;
      }
    }
  }
}

.copy-right {
  // text-align: center;

  .footer-paragraph {
    font: {
      size: 15px;
    }
    padding-top: 40px;
    position: relative;
    right: 20px;
    // padding-bottom: 32px;
    color: $secondary-color1;
    @include tablet {
      right: 0;
    }
    @include mobile {
      right: 0;
    }
  }

  .auth {
    display: inline-block;
    text-decoration: none;
    padding-left: 60px;
    font: {
      size: 15px;
    }

    button {
      padding: 13px 32px;
      border: none;
      border-radius: 50px;
      background: $background-color;
      color: $secondary-color4;
      cursor: pointer;

      //   &:visited {
      //     color: $secondary-color4;
      //   }
      &:hover {
        color: $secondary-color4;
        opacity: 0.6;
      }
      &:active {
        background-color: $secondary-color1;
      }
    }
    // @include tablet {
    //   display: none;
    // }
    @include tablet {
      // display: none;
      position: relative;
      right: 30px;
      padding-top: 22px;
    }
    @include mobile {
      // display: none;
      position: relative;
      right: 30px;
      padding-top: 22px;
    }
  }
}
